@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/images/background.png");
  }

.custom-scrollbar {
    /* Hide default scrollbar */
    scrollbar-width: thin;
    scrollbar-color: #BA6EF2 transparent;
}